<form action="/create/picture" method="post">
<p>Create a new picture post</p>
  Image url: <input name="image_url"><br>
  Caption: <input name="caption">
  <input type="submit">
</form>
<p>Heres an <a href='/picture/606432'>example of a picture</a> I posted</p>